PORT=8080
db_user=your_db_user
password=your_db_password
DB_LINK=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
SECRECT_KEY=your_jwt_secret_key
FRONT_END_URL=http://localhost:3000

TMDB_API_KEY=your_tmdb_bearer_token

RAZORPAY_PUBLIC_KEY=your_razorpay_public_key
RAZORPAY_PRIVATE_KEY=your_razorpay_private_key

GOOGLE_APP_USER=your_email@gmail.com
GOOGLE_APP_PASSWORD=your_gmail_app_password
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=https://jio-clone-backend-2.onrender.com/api/auth/google/callback
